name: 서로 다른 태그에서의 캐싱 테스트

on:
  workflow_dispatch:

jobs:
  test:
    name: 테스트
    runs-on: ubuntu-latest
    steps:
      - name: 체크아웃
        uses: actions/checkout@v4
      - run: sh test.sh
        env:
          GH_TOKEN: ${{ secrets.PAT }}
